apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: 'springboot'
        metrics_path: '/student/actuator/prometheus'
        static_configs:
          - targets: ['host.docker.internal:8089']

